@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ddd;
  height: 8vh;
}
.header .navbar {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .logo__container {
  font-family: "Honk", system-ui;
  font-size: 2rem;
}
.header .navbar .action__buttons {
  width: 5rem;
  display: flex;
  justify-content: space-between;
}
.header .navbar .action__buttons .cart__button {
  cursor: pointer;
}
.header .navbar .action__buttons .cart__button img {
  width: 25px;
}
.header .navbar .action__buttons .user__button {
  cursor: pointer;
}
.header .navbar .action__buttons .user__button img {
  width: 22px;
}

.index__main {
  width: 90%;
  margin: 2rem auto;
}
.index__main .title__container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index__main .title__container .title {
  font-size: 2.7rem;
}
.index__main .title__container .search__container {
  display: flex;
  height: 50px;
  background-color: #333;
}
.index__main .title__container .search__container .search__input {
  height: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 16rem;
}
.index__main .title__container .search__container .search__button {
  width: 52px;
  display: flex;
  cursor: pointer;
}
.index__main .title__container .search__container .search__button .search__img {
  filter: invert(1);
  height: 20px;
  margin-left: 16px;
  margin-top: 15px;
}
.index__main .products__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 4rem 10rem;
}
.index__main .products__container .card {
  position: relative;
  z-index: 10;
}
.index__main .products__container .card img {
  width: 100%;
}
.index__main .products__container .card .text {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}
.index__main .products__container .card .text h2 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.index__main .products__container .card .text p {
  font-weight: 600;
}
.index__main .products__container .card .buy__button {
  position: absolute;
  background-color: #333;
  bottom: 20%;
  right: -30px;
  width: 56px;
  cursor: pointer;
  height: 50px;
  z-index: 100;
}
.index__main .products__container .card .buy__button img {
  filter: invert(1);
  margin-left: 13px;
  margin-top: 10px;
  width: 30px;
}

.modal__carrito {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: #ccc;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 22%;
  height: 100vh;
  padding: 1rem 2rem;
}
.modal__carrito .carrito__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}
.modal__carrito .carrito__header .carrito__title {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
}
.modal__carrito .carrito__header .btn__close {
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
  cursor: pointer;
}
.modal__carrito .carrito__container {
  height: 100%;
}
.modal__carrito .carrito__container .shop__card {
  border-top: 1px solid #aaa;
  height: 30%;
  max-height: 10rem;
  display: flex;
  padding: 2rem 0;
}
.modal__carrito .carrito__container .shop__card .card__img {
  width: 30%;
}
.modal__carrito .carrito__container .shop__card p {
  font-size: 0.9rem;
}

/*# sourceMappingURL=styles.css.map */
