@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  background-color: #ddd;
  height: 8vh;
}
.header .navbar {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .logo__container {
  font-family: "Honk", system-ui;
  font-size: 2rem;
}
.header .navbar .action__buttons {
  width: 5rem;
  display: flex;
  justify-content: space-between;
}
.header .navbar .action__buttons .cart__button {
  cursor: pointer;
}
.header .navbar .action__buttons .cart__button img {
  width: 25px;
}
.header .navbar .action__buttons .user__button {
  cursor: pointer;
}
.header .navbar .action__buttons .user__button img {
  width: 22px;
}

.index__main {
  width: 90%;
  margin: 2rem auto;
}
.index__main .title__container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index__main .title__container .title {
  font-size: 2.7rem;
}
.index__main .title__container .search__container {
  display: flex;
  height: 50px;
  background-color: #333;
}
.index__main .title__container .search__container .search__input {
  height: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 16rem;
}
.index__main .title__container .search__container .search__button {
  width: 52px;
  display: flex;
  cursor: pointer;
}
.index__main .title__container .search__container .search__button .search__img {
  filter: invert(1);
  height: 20px;
  margin-left: 16px;
  margin-top: 15px;
}
.index__main .products__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 4rem 10rem;
}
.index__main .products__container .card {
  position: relative;
  z-index: 10;
}
.index__main .products__container .card img {
  width: 100%;
}
.index__main .products__container .card .text {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}
.index__main .products__container .card .text h2 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.index__main .products__container .card .text p {
  font-weight: 600;
}
.index__main .products__container .card .buy__button {
  position: absolute;
  background-color: #333;
  bottom: 20%;
  right: -30px;
  width: 56px;
  cursor: pointer;
  height: 50px;
  z-index: 100;
}
.index__main .products__container .card .buy__button img {
  filter: invert(1);
  margin-left: 13px;
  margin-top: 10px;
  width: 30px;
}

.modal__carrito {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: #ccc;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 22%;
  height: 100vh;
  padding: 1rem 2rem;
}
.modal__carrito .carrito__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}
.modal__carrito .carrito__header .carrito__title {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
}
.modal__carrito .carrito__header .btn__close {
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
  cursor: pointer;
}
.modal__carrito .carrito__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__carrito .carrito__container .shop__card {
  border-top: 1px solid #aaa;
  height: 10rem;
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.modal__carrito .carrito__container .shop__card .card__img {
  width: 25%;
}
.modal__carrito .carrito__container .shop__card .card__text {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal__carrito .carrito__container .shop__card .card__text .card__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.modal__carrito .carrito__container .shop__card .card__text .card__header p {
  font-size: 1rem;
}
.modal__carrito .carrito__container .shop__card .card__text .card__header .btn__remove {
  cursor: pointer;
}
.modal__carrito .carrito__container .shop__card .card__text .card__header .btn__remove img {
  width: 20px;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body {
  display: flex;
  margin-top: 20px;
  align-items: end;
  justify-content: space-between;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .action__buttons {
  display: flex;
  width: 50%;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .action__buttons .btn__add {
  font-size: 1.7rem;
  color: #333;
  border-start-end-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid #555;
  border-left: none;
  height: 80%;
  width: 30%;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .action__buttons .btn__add:hover {
  background-color: #bbb;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .action__buttons .btn__substract {
  font-size: 1.7rem;
  color: #333;
  border-start-start-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 1px solid #555;
  border-right: none;
  height: 80%;
  width: 30%;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .action__buttons .btn__substract:hover {
  background-color: #bbb;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .action__buttons .cantidad {
  font-size: 1.4rem;
  padding: 0.2rem;
  color: #333;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 20%;
  height: 80%;
}
.modal__carrito .carrito__container .shop__card .card__text .card__body .precio {
  display: flex;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 700;
}
.modal__carrito .carrito__container .empty__content {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__carrito .carrito__container .empty__content .empty__img {
  margin-bottom: 2rem;
  width: 60px;
}
.modal__carrito .carrito__container .empty__content .empty__text {
  font-size: 1.4rem;
}
.modal__carrito .carrito__container .footer__carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__carrito .carrito__container .footer__carrito .precio__total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.modal__carrito .carrito__container .footer__carrito .precio__total .precio__text {
  font-size: 2.2rem;
}
.modal__carrito .carrito__container .footer__carrito .btn__buy {
  background-color: #111;
  color: #fff;
  margin-top: 2rem;
  width: 200px;
  border: none;
  padding: 10px 0;
  margin-bottom: 10px;
}
.modal__carrito .carrito__container .footer__carrito .btn__buy:hover {
  background-color: #333;
}
.modal__carrito .carrito__container .footer__carrito .btn__erase {
  background-color: none;
  border: none;
  width: 200px;
  padding: 10px 0;
}
.modal__carrito .carrito__container .footer__carrito .btn__erase:hover {
  background-color: #aaa;
}

/*# sourceMappingURL=styles.css.map */
