* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: #ddd;
    height: 8vh;
    .navbar {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo__container {
            font-family: 'Honk', system-ui;
            font-size: 2rem;
        }
        .action__buttons {
            width: 5rem;
            display: flex;
            justify-content: space-between;
            .cart__button {
                cursor: pointer;
                img {
                    width: 25px;
                }
            }
            .user__button {
                cursor: pointer;
                img {
                    width: 25px;
                }
            }
        }
    }
}